
.nav-bar {
    height: 80px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-bar a {
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-size: 25px;
    font-weight: bolder;
}

/* .nav-bar a:hover{
    color: darkgreen;
} */

.nav-bar .active {
    color: orangered;
}